<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="Keywords" content={{{.channelSite.keywords}}}>
    <meta name="Description" content={{{.channelSite.describe}}}>
    <title>{{{.channelSite.title}}}</title>
    <link rel="stylesheet" href="/web/css/swiper.min.css">
</head>
<body>
    <div class="stbz-main pc" >
        <header>{{{include  "./template/web/html/pc-header.html" .}}}</header>
        <section> <!-- banner 轮播图 -->
            <div class="swiper-container" id="banner-swiper">
                <div class="swiper-wrapper">
                    {{{range $key, $value := .channelSiteBanner}}}
                    {{{ if gt ($value.img_url|len) 0 }}}
                    {{{ if eq $value.redirect_url "" }}}
                    <div class="swiper-slide">
                        <a class="pc-ban-swiper-a" href="javascript:void(0);">
                            <img class="ban-swiper-img" src="{{{$value.img_url}}}" alt="">
                        </a>
                    </div>
                    {{{ else }}}
                    <div class="swiper-slide">
                        <a class="pc-ban-swiper-a" href="{{{$value.redirect_url}}}" target="_blank">
                            <img class="ban-swiper-img" src="{{{$value.img_url}}}" alt="">
                        </a>
                    </div>
                    {{{end}}}
                    {{{end}}}
                    {{{end}}}
                </div>
            </div>
            <!-- banner底部悬浮数据dom -->
            <div class="case-statistics-main">
                <div class="pre-case-con">
                    <p class="case-p">
                        <span class="case-num">200</span>
                        <span class="case-unit">万+</span>
                    </p>
                    <p class="case-desc">优质货源</p>
                </div>
                <div class="pre-case-con">
                    <p class="case-p">
                        <span class="case-num">1</span>
                        <span class="case-unit">万+</span>
                    </p>
                    <p class="case-desc">行业覆盖</p>
                </div>
                <div class="pre-case-con">
                    <p class="case-p">
                        <span class="case-num">500</span>
                        <span class="case-unit">+</span>
                    </p>
                    <p class="case-desc">城市布局</p>
                </div>
                <div class="pre-case-con">
                    <p class="case-p">
                        <span class="case-num">1,000</span>
                        <span class="case-unit">+</span>
                    </p>
                    <p class="case-desc">合作案例</p>
                </div>
            </div>
            <!-- 系统公告 -->
            <div class="sys-notice-main">
                <p class="notice-p">系统公告：</p>
                <div class="swiper-container sys-notice-swiper">
                    <div class="swiper-wrapper">
                        {{{range $key, $value := .system}}}
                        <div class="swiper-slide">
                            <a href="./news?id={{{$value.id}}}" target="_blank">{{{$value.title}}}</a>
                        </div>
                        {{{end}}}
                    </div>
                </div>
            </div>
            <!-- 产品服务 -->
            <div class="product-service-main">
                <p class="ps-first-title">产品服务</p>
                <div class="ps-con">
                    {{{range $key, $value := .officialProductlst}}}
                    <div class="pre-ps">
                        <img class="ps-img" src="{{{$value.img_url}}}" alt="">
                        <p class="ps-title">{{{$value.title}}}</p>
                        <p class="ps-desc">{{{$value.content_summary}}}</p>
                        <a target="_blank" href="{{{$value.redirect_url}}}" >
                            <div class="ps-btn">立即开始</div>
                        </a>
                    </div>
                    {{{end}}}

                </div>
            </div>
            <!-- 解决方案 -->
            <div class="platform-solution-main">
                <div class="pfs-con">
                    <p class="pfs-title">电商平台一站式解决方案专家</p>
                    <div class="pfs-main">
                        <div class="pfs-main-title">
                            <p>
                                商品供应链
                                <span class="pfs-tip-bg"></span>
                            </p>
                            <p>
                                云仓
                                <span class="pfs-tip-bg"></span>
                            </p>
                        </div>
                        <div class="pfs-main-desc">
                            <div class="single-pfs-desc">
                                <p class="pfs-desc-title">解决方案</p>
                                <p class="pfs-desc-text">整合供应链为基础，将大平台商品聚合，构建一个企业级客户的供应链服务平台；通过API、H5、团购、集采、一件代发等方式，
                                    帮助企业客户实现一站式的平台化和数字化采购，降低采购成本，提升采购效率。
                                </p>
                                <div class="solution-bg-main">
                                    <div class="sl-bg-pre">
                                        <img class="sl-bg-img1" src="/web/image/api1.png" alt="">
                                        <p class="sl-bg-title">API加入</p>
                                    </div>
                                    <div class="sl-bg-arrow"></div>
                                    <div class="sl-bg-pre">
                                        <img class="sl-bg-img2" src="/web/image/api2.png" alt="">
                                        <p class="sl-bg-title">平台背书</p>
                                    </div>
                                    <div class="sl-bg-arrow"></div>
                                    <div class="sl-bg-pre">
                                        <img class="sl-bg-img3" src="/web/image/api3.png" alt="">
                                        <p class="sl-bg-title">自动发货</p>
                                    </div>
                                    <div class="sl-bg-arrow"></div>
                                    <div class="sl-bg-pre">
                                        <img class="sl-bg-img4" src="/web/image/api4.png" alt="">
                                        <p class="sl-bg-title">客户服务</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-pfs-desc">
                                <p class="pfs-desc-title">解决方案</p>
                                <p class="pfs-desc-text">云仓一款专注于电商平台解决方案的ERP管理系统。供应商入驻云仓，可以搭建从前端到后台的管理系统，玩转私域流量，
                                    也可以同时管理多网店的订单、商品等，一站式的解决方案，完美匹配您的需求。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 新闻动态 -->
            <div class="new-main">
                <p class="new-title">资讯公告</p>
                <div class="new-con">
                    <div class="top-new-con">
                        <img class="top-new-con-img" src="/web/image/top-new-bg.png" alt="">
                        {{{range $key, $value := .new}}}
                        {{{ if eq $key 0 }}}
                        <a target="_blank" href="./news?id={{{$value.id}}}" >
                            <div class="new-pre-con custom-new-con">
                                <div class="new-time-con">
                                    <p class="new-time-year">{{{$value.create_time | date "Y"}}}</p>
                                    <p class="new-time-month">{{{$value.create_time | date "m-d"}}}</p>
                                </div>
                                <div class="new-single-desc">
                                    <p class="new-single-title">{{{$value.title}}}</p>
                                    <p class="new-single-text">
                                        {{{$value.abstract}}}
                                    </p>
                                </div>
                            </div></a>
                        {{{end}}}
                        {{{end}}}
                    </div>
                    <div class="new-reset-con">
                        {{{range $key, $value := .new}}}
                        {{{ if gt $key 0 }}}
                        <a target="_blank" href="./news?id={{{$value.id}}}" >
                            <div class="new-pre-con custom-new-con">
                                <div class="new-time-con">
                                    <p class="new-time-year">{{{$value.create_time | date "Y"}}}</p>
                                    <p class="new-time-month">{{{$value.create_time | date "m-d"}}}</p>
                                </div>
                                <div class="new-single-desc">
                                    <p class="new-single-title">{{{$value.title}}}</p>
                                    <p class="new-single-text">
                                        {{{$value.abstract}}}
                                    </p>
                                </div>
                            </div></a>
                        {{{end}}}
                        {{{end}}}
                    </div>
                </div>
            </div>
            <!-- middle-banner -->
            <div class="middle-banner-main"></div>
            <!-- 供应商logo -->
            <div class="supplier-logo-main">
                <p class="sl-title">
                    <span class="sl-title-spe-span">30000+</span>
                    <span>供应商选择加入</span>
                </p>
                {{{range $key, $value := .logoUrlsJSON}}}
                <div class="sl-con">
                    {{{range $k, $v := $value}}}
                    <div class="sl-img-pre-con">
                        <img class="sl-img-pre" src="{{{$v.url}}}" alt="">
                    </div>
                    {{{end}}}
                </div>
                {{{end}}}
            </div>
            <!-- cooperation -->
            <div class="coo-main">
                <p class="coo-title">马上开启自己的业务</p>
                <div class="coo-btn" id="toCooperation">我要合作</div>
            </div>
            <!-- 我要合作 PC 弹窗 -->
            <div class="to-coo-dialog">
                <div class="tc-main-con">
                    <div class="tc-main">
                        <p class="tc-title">
                            互动留言
                            <span class="tc-close-x" id="close-coo-x">╳</span>
                        </p>
                        <div class="tc-con">
                            <div class="tc-con-pre">
                                <p class="tcp-title">合作类型：</p>
                                <p>
                        <span class="radio-con">
                            <input type="radio" name="coo-type" value="1" id="channel" class="coo-input-radio"/>
                            <label for="channel">渠道分销</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="2" id="supplier" class="coo-input-radio" />
                            <label for="supplier">供应商合作</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="3" id="partner" class="coo-input-radio"/>
                            <label for="partner">合伙人计划</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="4" id="others" class="coo-input-radio"/>
                            <label for="others">其他</label>
                        </span>
                                </p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">合作意向：</p>
                                <textarea id="intention" rows="4" maxlength="500" class="tcp-text-area"></textarea>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">企业名称：</p>
                                <p id="companyName" contenteditable="true"  class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">姓名：</p>
                                <p id="name" contenteditable="true" class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">手机号：</p>
                                <p id="mobile" contenteditable="true" class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">电子邮箱：</p>
                                <p id="email" contenteditable="true" class="tcp-text"></p>
                            </div>
                        </div>
                        <div class="tc-btn-con">
                            <span class="tc-cancel" id="coo-cancel">取消</span>
                            <span class="tc-submit" id="coo-submit">提交</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>{{{include  "./template/web/html/pc-footer.html" .}}}</footer>
    </div>
    <div class="stbz-main mobile">
        <header>{{{include  "./template/web/html/mobile-header.html" .}}}</header>
        <section> <!-- banner -->
            <div id="mb-banner-swiper" class="swiper-container">
                <div class="swiper-wrapper">
                    {{{range $key, $value := .channelSiteBanner}}}
                    {{{ if gt ($value.img_url|len) 0 }}}
                    {{{ if eq $value.redirect_url "" }}}
                    <div class="swiper-slide">
                        <a class="mb-ban-swiper-a" href="javascript:void(0);">
                            <img class="mb-ban-swiper-img" src="{{{$value.img_url}}}" alt="">
                        </a>
                    </div>
                    {{{ else }}}
                    <div class="swiper-slide">
                        <a class="mb-ban-swiper-a" href="{{{$value.redirect_url}}}" target="_blank">
                            <img class="mb-ban-swiper-img" src="{{{$value.img_url}}}" alt="">
                        </a>
                    </div>
                    {{{end}}}
                    {{{end}}}
                    {{{end}}}
                </div>
            </div>
            <!-- 产品与服务 -->
            <div class="mb-product-service">
                <p class="mb-pros-title">产品与服务</p>
                <div id="mb-product-swiper" class="swiper-container">
                    <div class="swiper-wrapper">
                        {{{range $key, $value := .officialProductlst}}}
                        <div class="swiper-slide">
                            <div class="mb-ps-slide-con">
                                <img class="mb-pss-img" src="{{{$value.img_url}}}" alt="">
                                <p class="mb-pss-title">
                                    {{{$value.title}}}
                                    <span class="mb-pss-title-spot"></span>
                                </p>
                                <p class="mb-pss-desc">
                                    {{{$value.content_summary}}}
                                </p>
                            </div>
                        </div>
                        {{{end}}}
                    </div>
                </div>
                <div class="mb-custom-ps-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- 一站式 解决方案 -->
            <div class="mb-platform-solution">
                <p class="mb-ps-title">电商平台一站式解决方案专家</p>
                <p class="mb-ps-subtitle">
                    <span>商品供应链</span>
                    <span>云仓服务商</span>
                </p>
                <div class="mb-ps-desc">
                    <h4 class="mb-ps-desc-title">解决方案</h4>
                    <p class="mb-ps-desc-text">
                       整合供应链为基础，将大平台商品聚合，构建一个企业级客户的供应链服务平台；通过API、H5、团购、集采、一件代发等方式，
                                    帮助企业客户实现一站式的平台化和数字化采购，降低采购成本，提升采购效率。
                    </p>
                    <div class="mb-ps-desc-img">
                        <div class="mb-sl-bg-pre">
                            <img class="mb-sl-bg-img1" src="/web/image/mb-api1.png" alt="">
                            <p class="mb-sl-bg-title">API加入</p>
                        </div>
                        <div class="mb-sl-bg-arrow"></div>
                        <div class="mb-sl-bg-pre">
                            <img class="mb-sl-bg-img2" src="/web/image/mb-api2.png" alt="">
                            <p class="mb-sl-bg-title">平台背书</p>
                        </div>
                        <div class="mb-sl-bg-arrow"></div>
                        <div class="mb-sl-bg-pre">
                            <img class="mb-sl-bg-img3" src="/web/image/mb-api3.png" alt="">
                            <p class="mb-sl-bg-title">自动发货</p>
                        </div>
                        <div class="mb-sl-bg-arrow"></div>
                        <div class="mb-sl-bg-pre">
                            <img class="mb-sl-bg-img4" src="/web/image/mb-api4.png" alt="">
                            <p class="mb-sl-bg-title">客户服务</p>
                        </div>
                    </div>
                </div>
                <div class="mb-ps-desc">
                    <h4 class="mb-ps-desc-title">解决方案</h4>
                    <p class="mb-ps-desc-text">
                        云仓一款专注于电商平台解决方案的ERP管理系统。供应商入驻云仓，可以搭建从前端到后台的管理系统，玩转私域流量，也可以同时管理多网店
                        的订单、商品等，一站式的解决方案，完美匹配您的需求。
                    </p>
                </div>
            </div>
            <!-- 新闻动态 -->
            <div class="mb-news">
                <p class="mb-news-all-title">新闻动态</p>
                <ul class="mb-news-list">
                    {{{range $key, $value := .new}}}
                    <li>
                        <a class="mb-news-title" href="./news?id={{{$value.id}}}" target="_blank">{{{$value.title}}}</a>
                        <span class="mb-news-day">{{{ $value.create_time | date "Y-m-d" }}}</span>
                    </li>
                    {{{end}}}
                </ul>
            </div>
            <!-- advantage -->
            <div class="mb-advantage">
                {{{range $k,$v :=  .profile_image_url}}}
                <div class="mb-ad-con">
                    <img class="mb-ad-img" src="{{{$v}}}" alt="">
                </div>
                {{{end}}}

                <!--    <div class="mb-ad-con">-->
                <!--        <div class="mb-ad-title-con">-->
                <!--            <p class="mb-ad-title">优质货源</p>-->
                <!--            <p class="mb-ad-num">200W+</p>-->
                <!--        </div>-->
                <!--        <img class="mb-ad-img" src="/web/image/mb-ad1.png" alt="">-->
                <!--    </div>-->
            </div>
            <!-- supplier -->
            <div class="mb-supplier">
                <p class="mb-sup-title">30000+供应商选择加入</p>
                <div class="mb-sup-con">
                    {{{range $key, $value := .logoUrlsJSON}}}
                    {{{range $k, $v := $value}}}
                    <img class="mb-sup-img" src="{{{$v.url}}}" alt="">
                    {{{end}}}
                    {{{end}}}
                </div>
            </div>
            <!-- cooperation -->
            <div class="mb-cooperation">
                <p class="mb-coo-text">马上开启自己的业务</p>
                <div class="mb-coo-btn" id="toCooperation">我要合作</div>
            </div>
            <!-- 我要合作 PC 弹窗 -->
            <div class="to-coo-dialog">
                <div class="tc-main-con">
                    <div class="tc-main">
                        <p class="tc-title">
                            互动留言
                            <span class="tc-close-x" id="close-coo-x">╳</span>
                        </p>
                        <div class="tc-con">
                            <div class="tc-con-pre">
                                <p class="tcp-title">合作类型：</p>
                                <p class="tcp-radio-con-main">
                        <span class="radio-con">
                            <input type="radio" name="coo-type" value="1" id="channel" class="coo-input-radio"/>
                            <label for="channel">渠道分销</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="2" id="supplier" class="coo-input-radio"/>
                            <label for="supplier">供应商合作</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="3" id="partner" class="coo-input-radio"/>
                            <label for="partner">合伙人计划</label>
                        </span>
                                    <span class="radio-con">
                            <input type="radio" name="coo-type" value="4" id="others" class="coo-input-radio"/>
                            <label for="others">其他</label>
                        </span>
                                </p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">合作意向：</p>
                                <textarea id="intention" rows="4" maxlength="500" class="tcp-text-area"></textarea>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">企业名称：</p>
                                <p id="companyName" contenteditable="true" class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">姓名：</p>
                                <p id="name" contenteditable="true" class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">手机号：</p>
                                <p id="mobile" contenteditable="true" class="tcp-text"></p>
                            </div>
                            <div class="tc-con-pre">
                                <p class="tcp-title">电子邮箱：</p>
                                <p id="email" contenteditable="true" class="tcp-text"></p>
                            </div>
                        </div>
                        <div class="tc-btn-con">
                            <span class="tc-cancel" id="coo-cancel">取消</span>
                            <span class="tc-submit" id="coo-submit">提交</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>{{{include  "./template/web/html/mobile-footer.html" .}}}</footer>
    </div>
    <!-- 联系我们 PC-->
    <div class="contact-us-main pc">
        {{{include  "./template/web/html/pc-contactus.html" .}}}
    </div>
    <div class="contact-us-main mobile">
        {{{include  "./template/web/html/mobile-contactus.html" .}}}
    </div>
</body>
<style>
</style>
<script type="text/javascript" src="/web/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/web/js/swiper.min.js "></script>
<script>
    window.onload = function () {
        /** 仅对官网进行 所有适配
         * 当 可视区域 小于 960 时，进行 移动端适配
         * 对 html 根目录 的font-size 进行设置 */

        let isPC = true;
        ;(function () {
            // 获取屏幕区域的宽度
            let w = document.documentElement.clientWidth;
            // 获取html根元素
            let htmlNode = document.querySelector('html')
            if (w < 961) {
                isPC = false;
                htmlNode.style.fontSize = w / 750 * 50 * 2 + 'px'
            }else {
                // isPC = true
                // htmlNode.style.fontSize = 16 + 'px'
            }
        })();
        let localUrl = window.location.host;
        let ht = document.location.protocol;
        // PC端
        if (isPC) {
            /** 注册 */
            $("#register").on('click',function () {
                // 先调用 退出登陆接口，再执行下述操作
                window.location.href = ht + '//' + '{{{ .channelSite.ssoDomain}}}' + '/login.html?redirect=' + ht + '//{{{ .channelSite.openDomain}}}/loginticket';
            })
            /** 登陆 */
            $("#login").on('click',function () {
                window.location.href = ht + '//' + '{{{ .channelSite.ssoDomain}}}' + '/login.html?redirect=' + ht + '//{{{ .channelSite.openDomain}}}/loginticket';
            })
                // 样式
            $("<link>").attr({rel: "stylesheet", type: "text/css", href: "/web/css/pc.css?" + new Date().getTime()}).appendTo("head");
            $('.mobile').text("");
            $('.mobile').hide()
            setTimeout(function() {
                pcBannerSwiper();
            },500)
            //pcBannerSwiper();
            pcNoticeSwiper();
            pcPlatformSwitch();
            /** 提交 合作意向 */
            $("#toCooperation").on("click", function (){
                openCooperation();
            });

            $("#close-coo-x").on("click", function() {
                closeCooperation();
            })

            $("#coo-cancel").on("click", function() {
                closeCooperation();
            })
            $("#coo-submit").on("click", function() {
                submitCooperation();
            })
            /** 顶部nav 滚动背景 */
            $(".stbz-main").scroll(function(){
                pcHeaderScroll();
            });
        // 移动端 start
        } else {
            /** 注册 */
            $("#mbRegister").on('click',function () {
                // 先调用 退出登陆接口，再执行下述操作
                window.location.href = ht + '//' + '{{{ .channelSite.ssoDomain}}}' + '/login.html?redirect=' + ht + '//{{{ .channelSite.openDomain}}}/loginticket';
            })
            /** 登陆 */
            $("#mbLogin").on('click',function () {
                window.location.href = ht + '//' + '{{{ .channelSite.ssoDomain}}}' + '/login.html?redirect=' + ht + '//{{{ .channelSite.openDomain}}}/loginticket';
            })
            // css
            $("<link>").attr({rel: "stylesheet", type: "text/css", href: "/web/css/mobile.css?" + new Date().getTime()}).appendTo("head");
            $('.pc').text("");
            $('.pc').hide()
            // 引入 header
/*            $('header').load('html/mobile-header.html',function () {});*/
            mbMenuOpen();
            mbMenuClose();
            // 引入 main
         /*   $('section').load('html/mobile-main.html',function() {});*/
            setTimeout(function() {
                mobileBannerSwiper();
            },500)
           // mobileBannerSwiper();
            mobileProductSwiper();
            platformSolution();
            $("#toCooperation").on("click", function (){
                openCooperation();
            });

            $("#close-coo-x").on("click", function() {
                closeCooperation();
            })

            $("#coo-cancel").on("click", function() {
                closeCooperation();
            })

            $("#coo-submit").on("click", function() {
                submitCooperation();
            })
            // 引入 footer
          /*  $('footer').load('html/mobile-footer.html');*/
            // 联系我们
           /* $('.contact-us-main').load('html/mobile-contactus.html',function () { });*/
            mbContactUsSwitch();
        }
        // 移动端 end

        $(".coo-input-radio:first").attr('checked','checked')

        /** PC banner swiper */
        function pcBannerSwiper () {
            // 轮播图 基础配置
            let swperOptions = {
                loop: true, // 循环模式选项
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false
                },
                initialSlide: 0,
                direction: 'horizontal',
                slidesPerView: 1,
                observer: true,
                observeParents: true,
                pagination: {
                    el: '#banner-swiper-pagination',
                    bulletClass: 'hxz-bullet',
                    bulletActiveClass: 'hxz-bullet-active',
                    clickable :true,
                },
            }
            let mySwiper = new Swiper('#banner-swiper', swperOptions);
        }

        /** PC 系统公告 swiper */
        function pcNoticeSwiper () {
            let noticeSwperOptions = {
                loop: true, // 循环模式选项
                autoplay: {
                    delay: 1500,
                    disableOnInteraction: false
                },
                initialSlide: 0,
                direction: 'vertical',
                slidesPerView: 1,
                observer: true,
                observeParents: true,
            }
            let noticeSwiper = new Swiper('.sys-notice-main > .swiper-container', noticeSwperOptions);

            /** 系统公告 鼠标放上暂停轮播 */
            noticeSwiper.el.onmouseover = function(){
                noticeSwiper.autoplay.stop();
            }
            noticeSwiper.el.onmouseleave = function(){
                noticeSwiper.autoplay.start();
            }
        }

        /** PC nav 滚动效果 */
        function pcHeaderScroll () {
            let st = $(".stbz-main").scrollTop();
            if (st > 100) {
                $('header').addClass('scroll-active')
            } else if (st < 100) {
                $('header').removeClass('scroll-active')
            }
        }

        /** PC 解决方案 交互 */
        function pcPlatformSwitch() {
            // 初始化展示
           // $('.pfs-tip-bg:first').show()
            $('.pfs-tip-bg:first').parent().addClass('click-pfs-main-title')
           // $('.pfs-main-desc:nth-child(1)').show();

            // 点击 切换交互
            $('.pfs-main-title > p').on('click',function() {
                $('.pfs-tip-bg').hide();
                $('.pfs-tip-bg').parent().removeClass('click-pfs-main-title');
                $('.single-pfs-desc').hide()

                $(this).find('.pfs-tip-bg').show()
                $(this).addClass('click-pfs-main-title')
                $('.single-pfs-desc').eq($(this).index()).show()
            })
        }

        /** PC and mobile 打开 合作 */
        function openCooperation () {
            $(".to-coo-dialog").show();
        }

        /** PC and mobile 关闭 合作 */
        function closeCooperation () {
            $(".to-coo-dialog").hide();
        }

        /** PC and mobile 提交 合作 */
        function submitCooperation () {
            let type = $('input[name="coo-type"]:checked').val();
            let intention = $("#intention").val()
            let companyName = $("#companyName").html()
            let name = $("#name").html()
            let mobile = $("#mobile").html()
            let email = $("#email").html()

            if (intention === "" || type <= 0 ||companyName === "" || name === ""|| mobile === ""|| email === "") {
                alert('请完善必填项');
                return;
            }
            let data = {
                type: type,
                enterprise_name:companyName,
                user_name:name,
                phone:mobile,
                email:email,
                content:intention,
            }

            $.ajax({
                type: "post",
                url: '/common/conusel/add',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (res) {
                    if (res.code === 1) {
                        alert("成功");
                        closeCooperation()
                        $("#intention").val("")
                        $("#companyName").html("")
                        $("#name").html("")
                        $("#mobile").html("")
                        $("#email").html("")
                    } else {
                        alert(res.message);
                    }
                },
                error: function () {
                    alert("操作失败");
                }
            })
        }

        /** MB banner swiper */
        function mobileBannerSwiper () {
            // 轮播图 基础配置
            let swperOptions = {
                loop: true, // 循环模式选项
                // autoplay: {
                //     delay: 2500,
                //     // disableOnInteraction: false
                // },
                // initialSlide: 0,
                direction: 'horizontal',
                // slidesPerView: 1,
                observer: true,
                observeParents: true,
            }

            let mySwiper = new Swiper('#mb-banner-swiper', swperOptions);
        }

        /** MB 产品与服务 swiper */
        function mobileProductSwiper () {
            // 轮播图 基础配置
            let swperOptions = {
                loop: true, // 循环模式选项
                direction: 'horizontal',
                // slidesPerView: 1,
                observer: true,
                observeParents: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    type: 'bullets'
                }
            }

            let mySwiper = new Swiper('#mb-product-swiper', swperOptions);
        }

        /** MB 解决方案 */
        function platformSolution () {
            $(".mb-ps-subtitle > span").eq(0).addClass("active-mb-ps-span");
            $(".mb-ps-desc").eq(0).addClass("block-import")
            $(".mb-ps-subtitle > span").on("click",function() {
                $(".mb-ps-subtitle > span").removeClass("active-mb-ps-span")
                $(".mb-ps-desc").removeClass("block-import")
                $(this).addClass("active-mb-ps-span")
                $(".mb-ps-desc").eq($(this).index()).addClass("block-import")
            })
        }

        /** mobile menu 展开菜单 */
        function mbMenuOpen() {
            $("#mbhMenu").on("click",function () {
                $(".mb-header-menu").animate({right: 0},250,"linear");
            });
        }

        /** mobile menu 收缩菜单 */
        function mbMenuClose() {
            $("#mb-menu-close-x").on("click",function () {
                $(".mb-header-menu").animate({right: "-2.7rem"},250,"linear");
            });
        }

        /** mobile 联系我们 交互 */
        function mbContactUsSwitch() {
            $(".cu-click").on("click", function () {
                if ($(this).find(".cu-click-toggle").hasClass("mb-block-import")) {
                    $(this).find(".cu-click-toggle").removeClass("mb-block-import")
                } else {
                    $(".cu-click-toggle").removeClass("mb-block-import")
                    $(this).find(".cu-click-toggle").addClass("mb-block-import")
                }
            })

            // 点击其他 地方，隐藏 具体联系方式，电话和微信
            // document.onclick = function (event) {
            //     let e = event || window.event;
            //     let elem = e.srcElement||e.target;
            //     // console.log(280,elem);
            //     while(elem) {
            //         if(elem.textContent == "某某"|| elem.id == "inff") {
            //             // c.concatFlag=true;//c是vue的实例对象，concatFlag控制元素显示隐藏，初始值未false
            //             return;
            //         }else{
            //             //隐藏div的方法
            //             // c.concatFlag=false;
            //         }
            //         elem = elem.parentNode;
            //     }
            // }
        }

    } // end window onload
</script>

</html>
