# Example environment variables for private deployment

# Base directories
PRO_DIR=/data/project
MYSQL_DIR=/data/mysql
REDIS_DIR=/data/redis
ELK_DIR=/data/elk
MOUNTED_SHARED_DIRECTORY=/data
MYSQL_CONTAINER_NAME_PREFIX=mysql

# MySQL
DB_DATABASE=middleground
DB_USER=root
DB_PASSWORD=middleground2022
DB_ROOT_PASSWORD=root
TIMEZONE=UTC

# application domain
DOMAINNAME=example.com

# redis
REDIS_PASSWORD=middleground2022

# elk
ELASTIC_VERSION=7.7.0
ELASTIC_PASSWORD=middleground2022
LOGSTASH_INTERNAL_PASSWORD=middleground2022
KIBANA_SYSTEM_PASSWORD=middleground2022
