<div class="mb-header-main">
    <img class="mbh-logo-img" src="{{{.webSite.toplogo}}}" alt="">
    <img id="mbhMenu" class="mbh-menu-img" src="/web/image/mb-menu.png" alt="">
</div>
<div class="mb-header-menu">
    <span class="mb-menu-close-x" id="mb-menu-close-x">╳</span>
    <ul>
        <li>
            <a href="http://{{{ .channelSite.mainDomain}}}">首页</a>
        </li>
        <li>
            <a href="http://{{{ .channelSite.openDomain}}}" target="_blank">开放平台</a>
        </li>
        <li>
            <a href="http://{{{ .channelSite.sjDomain}}}" target="_blank">云仓</a>
        </li>
        <li>
            <a href="http://{{{ .channelSite.mainDomain}}}/aboutus?1" target="_blank">关于我们</a>
        </li>
    </ul>
    <div class="mb-register-login-btn">
        <div id="mbRegister" class="mb-register-btn">注 册</div>
        <div id="mbLogin" class="mb-login-btn">登 录</div>
    </div>
</div>
