<div class="mb-footer">
    <div class="mb-about-list">
        <ul>
            <li>
                <a href="./aboutus?1" >企业简介</a>
            </li>
            <li>
                <a href="./aboutus?2" >发展历程</a>
            </li>
            <li>
                <a href="./aboutus?3" >荣誉资质</a>
            </li>
            <li>
                <a href="./aboutus?4" >团队介绍</a>
            </li>
            <li>
                <a href="./aboutus?5" >新闻动态</a>
            </li>
            <li></li>
        </ul>
        <div class="mb-about-us">
            <p>联系电话：{{{.webSite.hotline_tel_1}}}</p>
            <p>公司地址：{{{.webSite.company_address}}}</p>
        </div>
        <p class="mb-about-gs">
            {{{.webSite.bottom_copyright}}}
            <img class="mb-footer-image" src="/web/image/national.png"/>
            <a href="https://beian.miit.gov.cn" target="_blank" style="color: #959BA8;"> {{{.webSite.record_num}}} </a>
        </p>
    </div>
</div>
